<html>
	<head>
		<title>Explore Scotland</title>
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
		<style>
body{
	padding-top: 50px;
}
		</style>
	</head>
	<body>
		<nav class ="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class ="sr-only">Toggle navigation</span>
						<span class ="icon-bar"></span>
						<span class ="icon-bar"></span>
						<span class ="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ProjectName</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href='#'>Home</a></li>
						<li><a href="#about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class"container">
			<h1>HELLO</h1>
			<h2>Napier</h2>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel lorem ullamcorper, feugiat diam eget, pellentesque nibh. Etiam ut tristique mi. Morbi et pulvinar risus, vitae molestie libero. Curabitur lobortis varius hendrerit. Aliquam erat volutpat. Sed vulputate quam a mattis dictum. Aenean rhoncus ultrices sapien vulputate tempor. Suspendisse non placerat velit. Maecenas placerat nibh fermentum justo pulvinar iaculis. Sed feugiat dictum quam, ut ultricies arcu viverra sed. Donec cursus dui consectetur consequat facilisis. Quisque vitae porta dolor. Duis eu tincidunt enim, eu cursus libero. Maecenas rhoncus et elit vitae sodales.

Suspendisse sodales augue nec dictum hendrerit. Donec sollicitudin tincidunt suscipit. Integer malesuada nibh sit amet tincidunt venenatis. Aliquam sit amet auctor tellus. Praesent imperdiet est leo, ut tempus augue venenatis non. Donec a elit vitae augue auctor auctor vitae sit amet odio. Nam venenatis ligula sit amet velit porta, quis tincidunt eros pulvinar. Quisque fermentum ornare ante vitae facilisis. In commodo ante eget ante fringilla interdum. Suspendisse auctor felis a commodo sollicitudin. Suspendisse sit amet felis felis. Mauris a posuere nibh. Nullam in ullamcorper lorem. Aliquam id ante a felis semper ornare. Integer lacinia, diam eu commodo rhoncus, justo nisi mollis ex, sit amet tristique nisi sapien eget sapien. Aenean ante nunc, dignissim vel lectus vel, bibendum maximus enim.

Nam aliquet sodales consequat. Integer justo sapien, iaculis eget purus sit amet, convallis ornare lacus. Nulla lacinia rhoncus lacus, ac convallis nisi ornare at. Donec tristique nisi nec felis lobortis accumsan. Nulla suscipit sodales tincidunt. Suspendisse at molestie quam. Integer euismod felis sed ornare condimentum. Nunc sed magna vitae turpis dignissim faucibus. Proin ut sapien pharetra nunc mollis fermentum. Nulla nec maximus metus. Quisque eu nulla ultricies, elementum ex in, vulputate arcu. Proin ac nisi tristique sem finibus sagittis. In vehicula dui non lectus faucibus, sed luctus tellus rhoncus. Duis semper efficitur est a mollis. Phasellus vel varius lectus.

In at justo quis nibh fringilla congue. Aenean vulputate ex dui, non porta purus pharetra lacinia. Praesent vitae pellentesque justo, non dapibus dolor. Proin nec enim sed dolor malesuada porttitor nec vitae sem. Donec commodo, sapien id vestibulum porttitor, ante dui lobortis diam, ac iaculis quam leo vitae velit. Vestibulum in augue id felis egestas pellentesque. Ut sollicitudin at eros at semper. Quisque condimentum dolor libero, et condimentum sem luctus at. Vestibulum at purus ultrices, venenatis purus sit amet, gravida urna. Nullam in auctor mi. Quisque consequat mattis leo, in luctus dui ultrices id. Cras interdum mollis sem nec consequat. Sed finibus tortor nec dignissim molestie. Vestibulum blandit at odio nec suscipit. Pellentesque auctor consectetur eros id placerat. Vestibulum ac consequat urna.

Donec vel venenatis elit. In a tincidunt eros. Cras id feugiat tellus. Pellentesque diam urna, vulputate ut neque nec, finibus tempor turpis. Mauris et orci hendrerit, ornare nibh sed, commodo nunc. Nunc facilisis tincidunt mauris a lobortis. Pellentesque id urna imperdiet nisl malesuada ultricies vitae quis arcu. Maecenas tincidunt mollis luctus. Ut pharetra rutrum tellus, tempus lobortis lacus euismod et. Vivamus eu felis sit amet sem mollis tincidunt quis finibus tellus. Morbi et blandit est. Vivamus vitae fringilla lorem. Curabitur porttitor lectus massa, a fermentum tellus iaculis in. Sed imperdiet eros in nisl porttitor, porta vulputate neque molestie. Sed sagittis dolor tristique erat pulvinar consectetur.</p>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>
