{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>History of Scotland</h1>
    <p>
        The recorded history of Scotland begins in the 1st century AD when the Romans invaded Britain. The Romans added southern Britain to their empire as the province Britannia. They were unable, however, to subdue the fierce tribes in the north. To keep these tribes from invading Britannia, Emperor Hadrian had a massive wall built across the island from sea to sea. The Romans called the land north of the wall Caledonia, and they called the people Picts--from the Latin pictus, meaning "painted"--because they painted their bodies. Parts of Hadrian's Wall still stand on the Scottish border.
    </p>
</div>

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">There is lots of history.<span class="text-muted">See for yourself.</span></h2>
        <p class="lead">In 1290 Margaret, heiress to the throne died. Thirteen claimants contested the Crown. Edward I of England claimed the right to bestow it and made John de Baliol King. When Edward asked de Baliol for help against the French he entered into an alliance with France instead. For 260 years Scotland held to this so-called "auld alliance" with England's enemy.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="{{url_for('static', filename='img/bridge.jpg')}}" alt="Generic placeholder image">
    </div>
</div>
{% endblock %}}