{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>History of Scotland</h1>
    <p>
        The recorded history of Scotland begins in the 1st century AD when the Romans invaded Britain. The Romans added southern Britain to their empire as the province Britannia. They were unable, however, to subdue the fierce tribes in the north. To keep these tribes from invading Britannia, Emperor Hadrian had a massive wall built across the island from sea to sea. The Romans called the land north of the wall Caledonia, and they called the people Picts--from the Latin pictus, meaning "painted"--because they painted their bodies. Parts of Hadrian's Wall still stand on the Scottish border.
    </p>
</div>
{% endblock %}}